.Weather .overview {
    margin-bottom: 15px;
  }

.Weather h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 0;
  color: #59c6ff;
  font-family: "Pacifico", cursive;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #6c757d;
  font-size: 16px;
  font-weight: 100px;
  line-height: 20px;
}

.Weather li:first-letter {
  text-transform: capitalize;
}

.WeatherTemperature .temperature {
  color: #59c6ff;
  font-size: 75px;
  font-weight: bold;
  line-height: 64px;
  margin: 0;
  margin-left: -15px;
  padding: 0;
}

.WeatherTemperature .unit {
  position: relative;
  font-size: 16px;
  line-height: 1;
  top: -45px;
}

.WeatherInfo .wind {
  margin-left: -15px;
}

.WeatherInfo .humidity
{
  margin-left: -15px;
}